body {
    margin: 0;
    font-family: 'Segoe UI';
    background: #f4f6f9;
}

.app {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 220px;
    background: #667eea;
    color: white;
    padding: 20px;
}

.sidebar button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    background: white;
    color: #667eea;
}

.main {
    flex: 1;
    padding: 30px;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

input,
select {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px;
    background: #667eea;
    color: white;
    border: none;
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

/* SUCCESS MESSAGE */
#msg {
    font-weight: bold;
    color: green;
}

/* LOADER */
.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #667eea;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

.hidden {
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}